.task {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-between;
  align-items: center;

  border: 1px solid grey;
  padding: 1rem;
}

.task:first-child {
  border-radius: 1rem 1rem 0 0;
}

.task:last-child {
  border-radius: 0 0 1rem 1rem;
}

.task:only-child {
  border-radius: 1rem;
}

.leftSide {
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  hyphens: auto;
  text-align: left;
}