.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #333;
}

.left-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 1.6rem;
}
