.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0, 0.5);
  
}

.modalContent {
  padding: 25px;
  background: white;
  border-radius: 16px;
  min-width: 450px;
  z-index: 3;
  box-sizing: border-box;
}

.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.inactive {
  display: none;
}

@media (max-width: 768px) {
  .modalContent {
    width: 95%;
  }
}