.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;
  hyphens: auto;
  word-break: break-all;
}

.main-block {
  padding-inline: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .App {
  }

  .main-block {
    padding-inline: 10rem;
  }
}