.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100vh;

  padding: 2rem;
  padding-inline: 10rem;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
